

html {
    background: black !important;
}

body {
    max-width: 1000px !important;
    min-width: auto !important;
    min-height: auto;
    display: flex;
    justify-content: center;
    align-content: center;
    background: #d8dbde;
    margin: 0 auto;
}

template {

}

#app {
    background: #d8dbde !important;
    height: max-content;
}

.header {
    min-width: 1000px !important;
}

.wrap {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: flex-start;
    -webkit-flex-flow: wrap;
    flex-flow: wrap;
}
